<h1>Mini Facebook</h1>
<%= form_tag "/result", method: :post  do %>
  <%= autocomplete_field_tag "query",  params[:query],autocomplete_user_name_home_index_path, :size => 10 %>
  <%= submit_tag "Search" %>
<% end %>