<h1>Mini Facebook</h1>
 <h3>Liste des inscrits</h3>
   <% @users.each do |user| %>
    <p><%= user.name %></p>
   <% end %>
<%= form_tag "/result", method: :post  do %>
  <%= text_field_tag "query" %>
  <%= submit_tag "Search" %>
<% end %>